<h1>Welcome! Let me tell you about myself</h1>

<p>Hi, I’m Susan. I’m a college graduate and graphic designer living in sunny Sunnyvale.</p>

<p>I am also a grease mom to three beautiful and temperamental machines, you can read more about my 1965 Vespa, a 1971 Triumph Bonneville, and a 1961 Datsun Pick-up truck on my blog here. I’ve grown up in California my whole life and am lucky to pursue my passion in my hometown.</p>

<p><span class="italic">Sketches by Susan</span>, my design firm, is a studio where we bring your vision to life. Whether it be restyling a personal blog, revamping your business brand or a creative arts project we’ve done it all. My studio is rooted in timeless designs with a personal touch that makes them unique to you.</p>

<p>If you aren’t sure where to start check out <a href="portfolio.html">my portfolio here</a> or read some of <a href="blog.html">my blog</a>. I look forward to working together!</p>

<h2>My machines</h2>

<p>have a photo of the vespa here</p>
<p>have a photo of the trumph here</p>
<p>have a photo of the pick up truck here</p>
