<form class="contact-form col-sm-8">

  <label class="block form-label grey">First Name <span class="red">*</span> <br />
    <input type="text" class="width" placeholder="First Name" />
  </label>

  <label class="block form-label grey">Last Name <span class="red">*</span> <br />
    <input type="text" class="width" placeholder="Last Name" />
  </label>

  <label class="block form-label grey">Email <span class="red">*</span> <br />
    <input type="email" class="width" placeholder="Email Address" />
  </label>

  <label class="block form-label grey">Message <span class="red">*</span> <br />
    <textarea class="width"></textarea>
  </label>

  <label class="block form-label grey">I am a: <span class="red">*</span> <br />
    <input class="radio-input" type="radio" name="clientType" value="new"> New Client<br>
    <input class="radio-input" type="radio" name="clientType" value="existing"> Existing Client<br>
  </label>

  <span class="col-sm-6 btn-container">
    <button class="btn btn-warning btn-md btn-block" type="button">Submit</button>
  </span>

</form>
