<div class="col-xs-10">
<h3>Hi, I’m Susan. I’m a graphic designer living in beautiful Sunnyvale.</h3>

<div class="col-sm-4 susan">
  <img src="../../img/design.jpg" class="img-responsive img-thumbnail" alt="Susan Portrait" />
</div>

<div class="col-sm-8 susan">
  <p><span class="italic">Sketches by Susan</span>, my design firm, is a studio where we bring your vision to life. Whether it be restyling a personal blog, revamping your business brand or a creative arts project we’ve done it all. My studio is rooted in timeless designs with a personal touch that makes them unique to you.</p>

  <p>Take a look at <a href="portfolio.html">my portfolio here</a> or read some of <a href="blog.html">my blog</a>. You can also reach out via my <a href="contact.html">contact page</a> with any questions!</p>
</div>

</div>
