@import "base/variables";
@import "base/navbar";

body {
  background-color: $neutral-white;
  color: $neutral-black;
  // fixed navbar style
  // min-height: 2000px;
  padding-top: 60px;
  margin-bottom: 60px;
  font-family: $sans-serif;
}

// components
h1, h2, h3, h4, h5 {
  font-family: $cursive;
  color: $red;
}

a {
  color: $dark-red;
  text-decoration: none;
  padding-bottom: 3px;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $red;
    font-weight: bold;
    border-bottom: 1px solid $red;
  }
}

// global classes

.sans {
  font-family: $sans-serif;
}

.serif {
  font-family: $cursive;
}

.italic {
  font-style: italic;
}

.block {
  display: block;
}

.susan {
  max-height: 270px;
}

.dark-red {
  color: $dark-red;
}

.red {
  color: $red;
}

.grey {
  color: $neutral-grey;
}

.white {
  color: $neutral-white;
}

// home page

.design-bk {
  background-image: url(../img/home.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 400px;
}

.susan {
  margin-top: 15px;
}

// contact page

.contact-photo {
  background-image: url(../img/contact-phone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

.contact-text {
  color: $neutral-white;
  font-size: 80px;
}

.contact-form {
  padding: 15px;
  padding-top: 0;

  .form-label {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .width {
    width: 100%;
    margin-top: 8px;
    padding: 10px;
  }

  .radio-input {
    margin-right: 8px;
    margin-top: 8px;
  }

  .btn-container {
    margin-top: 20px;
    padding: 0;
  }
}

// portfolio
.portfolio-item {
  margin-bottom: 25px;
}

.pagination>li>a, .pagination>li>span {
  color: $dark-red;
  border: 1px solid $neutral-grey;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: $neutral-grey;
  border-color: $neutral-grey;
}

// footer
footer {
  height: 60px;
  margin-top: 25px;
}
