@import url('https://fonts.googleapis.com/css?family=Lobster'); // cursive
@import url('https://fonts.googleapis.com/css?family=Arimo'); // sans serif

// colors
$neutral-black: #000;
$neutral-white: #fff;

// portfolio
$neutral-grey: #191919;
$dark-red: #600;
$red: #9c0000;

// fonts
$cursive: 'Lobster', serif, sans-serif;
$sans-serif: 'Arimo', sans-serif;
