<div class="col-md-4">

  <!-- Side Widget Well -->
  <div class="well">
      <h4>About this blog</h4>
      <p>This blog is meant to be an open creative space on my website. I wrote posts about anything that strikes me, usually on a weekly basis. It can be about a project I worked on, a creative challenge I set myself or just something that broke on one my beautiful machines that you can read about <a href="about.html">here</a>.</p>
  </div>


  <!-- Blog Search Well -->
  <div class="well">
      <h4>Blog Search</h4>
      <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
          </button>
          </span>
      </div>
      <!-- /.input-group -->
  </div>

  <!-- Blog Categories Well -->
  <div class="well">
      <h4>Blog Categories</h4>
      <div class="row">
          <div class="col-lg-6">
              <ul class="list-unstyled">
                  <li><a href="#">Designs</a>
                  </li>
                  <li><a href="#">Creative Challenges</a>
                  </li>
                  <li><a href="#">Neutrals</a>
                  </li>
                  <li><a href="#">Bright Colors</a>
                  </li>
              </ul>
          </div>
          <!-- /.col-lg-6 -->
          <div class="col-lg-6">
              <ul class="list-unstyled">
                  <li><a href="#">Susan</a>
                  </li>
                  <li><a href="#">Big John</a>
                  </li>
                  <li><a href="#">Timothy</a>
                  </li>
                  <li><a href="#">Road Trip</a>
                  </li>
              </ul>
          </div>
          <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
  </div>

</div>
