<div class="jumbotron design-bk">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Welcome to the <span class="italic">Sketches By Susan</span> website.</p>
    <p>Here you will find my blog, portfolio, and have the chance to learn more about me.</p>
    <p>If you have any questions, feel free to reach out via my <a href="contact.html">contact page</a>

    <p><a class="btn btn-warning btn-lg" href="about.html" role="button">Learn more &raquo;</a></p>
  </div>
</div>
