<% include ../partials/_header %>

<div class="container">
  <div class="row">
    <% include ../partials/_blog-items %>

    <% include ../partials/_blog-sidebar %>
  </div>
  <ul class="pager">
    <li class="previous">
      <a href="#">&larr; Older</a>
    </li>
  </ul>
</div>

<% include ../partials/_footer %>
