<% include ../partials/_header %>

<% include ../components/_contact %>

<div class="container">
  <div class="col-sm-6">
  <h2>My passion is helping you</h2>

  <p>Whether you are reaching out to me as a new client, a returning client or a current client I am here to help. I am always happy to answer questions and provide support for any issues that arise with integrating my designs.</p>

  <h2>Find me on Social Media</h2>

  <p><span class="dark-red">instagram</span>: <strong>@sketchesbysusan</strong></p>
  <p><span class="dark-red">facebook</span>: <strong>facebook.com/sketchesbysusan</strong></p>
  <p><span class="dark-red">behance</span>: <strong>behance.com/sketchesbysusan</strong></p>
  <p><span class="dark-red">medium</span>: <strong>medium.com/sketchesbysusan</strong></p>
</div>

<div class="col-sm-6">
  <h2>Let's Connect</h2>

  <% include ../components/_contact-form %>
</div>

</div>

<% include ../partials/_footer %>
