<% include ../partials/_header %>

<div class="container">
  <div class="col-xs-10">
    <h1>Portfolio</h1>

    <p>Listed below are the different projects I have worked on, I have also included the client name and my role in each project. Feel free to click through each project and take a closer look!</p>

    <% include ../partials/_portfolio-items %>
  </div>
</div>

<% include ../partials/_footer %>
